
<style>
 
  </style>
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<ul id="sortablereqs" class="connectedSortable" style = "margin-top: 25px"> 
 
	<% @fields.each do |f| %>

		<div class = "field"><%=f.name %></div>
		<% f.requirements.each do |r| %>
			<li class = "box"><%=r.name %></li>
		<% end %>
		
	<% end %>
  
  
</ul>
